.custom-button-style:hover {
    -unity-background-image-tint-color: rgb(253, 255, 64);
    scale: 1.05 1.05;
    transition-duration: 0.2s;
    transition-property: scale;
}

.node-option-button {
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-right: 2px;
    margin-bottom: 0;
    margin-left: 2px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(255, 255, 255);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    transition-property: border-color;
    transition-duration: 0.2s;
}

.node-option-button:hover {
    border-left-color: rgb(255, 238, 0);
    border-right-color: rgb(255, 238, 0);
    border-top-color: rgb(255, 238, 0);
    border-bottom-color: rgb(255, 238, 0);
    transition-property: border-color, scale;
    transition-duration: 0.2s, 0.2s;
    scale: 1.1 1.1;
}

.option-button-image {
    width: 65%;
    height: 65%;
    -unity-background-image-tint-color: rgb(0, 0, 0);
}

.node-option-button-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    top: -25%;
    display: none;
}

.custom-unity-button {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
    transition-property: scale, border-color;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}

.custom-unity-button:hover {
    scale: 1.1 1.1;
    transition-duration: 0.2s, 0.2s;
    transition-property: scale, border-color;
    border-left-color: rgb(255, 238, 0);
    border-right-color: rgb(255, 238, 0);
    border-top-color: rgb(255, 238, 0);
    border-bottom-color: rgb(255, 238, 0);
}

.button-image {
    position: absolute;
    width: 85%;
    height: 85%;
    background-image: url("project://database/Assets/Skill%20Tree%20Graph/Sprites/Editor%20Icon/Questionmark-White.png?fileID=21300000&guid=ffbc3e5a99e4da54db1464d9b25a037f&type=3#Questionmark-White");
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.no-zoom {
}

.node-grouped {
    border-left-color: rgb(77, 153, 255);
    border-right-color: rgb(77, 153, 255);
    border-top-color: rgb(77, 153, 255);
    border-bottom-color: rgb(77, 153, 255);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.node-connect-pending {
    border-left-color: rgb(255, 165, 0);
    border-right-color: rgb(255, 165, 0);
    border-top-color: rgb(255, 165, 0);
    border-bottom-color: rgb(255, 165, 0);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.toolbar-button {
    width: 26px;
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.toolbar-button > .unity-image {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.undo-toolbar-button > .unity-image {
    background-image: url("project://database/Assets/Skill%20Tree%20Graph/Sprites/Editor%20Icon/undo.png?fileID=2800000&guid=b6162b485f1f9314ea5a3113c23091ea&type=3#undo");
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.redo-toolbar-button > .unity-image {
    background-image: url("project://database/Assets/Skill%20Tree%20Graph/Sprites/Editor%20Icon/redo.png?fileID=2800000&guid=4211542e8e378714dac6d98410373f53&type=3#redo");
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}